extends ../shared/template
block content
  h1 Tasks
  .row.tableHead
    .col-xs-1
      label Complete
    .col-xs-1
      label Task Name
    .col-xs-2
      label Due Date
    .col-xs-2
      label Priority
    .col-xs-2
      label Category
    .col-xs-2
      label Is Complete
    .col-xs-2
      label Creation Date
  each task in viewTasks
    .row(style='background-color:' + task.priority.color)
      .col-xs-1
        form(action='/tasks/'+task.id+'/complete', method='post')
          button.btn.btn-primary(type='submit') Comp
      .col-xs-1
        a(href='/tasks/:' + task.id + '/edit')= task.name
      .col-xs-2
        label= task.dueDate
      .col-xs-2
        label= task.priority.name
      .col-xs-2
        label= task.category
      .col-xs-2
          if task.isComplete
            i.fa.fa-check-square-o.fa-fw
          else
            i.fa.fa-square-o.fa-fw
      .col-xs-2
        label= task.createdAt
